@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
/* Fuentes
font-family: "Lato", sans-serif
font-family: "STIX Two Text", serif */


*{
    padding: 0;
    margin: 0;
    font-family:"Lato", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}


/* INDEX */
/* Header */
/* Fuentes
font-family: "Lato", sans-serif;
font-family: "STIX Two Text", serif;*/
/* Paletas
background-color:#dee4f3;
background-color: #010400;
background-color: #EADFB4; */

.promo:hover{
    background-color: #eadfb4bf;
}
.promo {
    padding: 9px;
    text-align: center;
    background-color: #EADFB4;
}

.novedad:hover{font-weight: bolder;}
.novedad {
    text-decoration: none;
    color: black;
}
.center-item {
    background-color: #010400;
    text-align: center;
    color: transparent;
    padding: 25px;
}
/* Navbar */
.navbar {
    padding: 0;
}
.navbar .container-fluid{
    background-color: #7F95D1;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar-brand:hover{
    font-size: 19.5px;
    font-weight: bolder;
}
.nav-link:hover{
    font-size: 16px;
    font-weight: bolder;
}
.dropdown-item:hover{
    font-size: 16px;
    font-weight: bolder;
    box-shadow: -2px 1px 45px 66px rgba(127,149,209,0.65) inset;
    -webkit-box-shadow: -2px 1px 45px 66px rgba(127,149,209,0.65) inset;
    -moz-box-shadow: -2px 1px 45px 66px rgba(127,149,209,0.65) inset;}

form .btn{
    background-color:#dee4f3;
    color: #010400;
    font-family: "Lato", sans-serif;
}
form .btn:hover{
    color: #010400;
    background-color: #EADFB4;
}
/* Main */
/* Fuentes
font-family: "Lato", sans-serif;
font-family: "STIX Two Text", serif;*/
/* Paletas
background-color:#dee4f3;
background-color:#010400;
background-color:#EADFB4; */

main{background-color:#dee4f3;
    width: 100%;
}
.banner-img img{
    width: 100%;
}
.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 2px #51515195;
    margin: 10px 0px;
}
.product-info p{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    margin-top: 0px 10px;
}
.product-info h3{
    font-family: "STIX Two Text", serif;
    font-size: 26px;
    font-weight: lighter;
}
.product-info button:hover{
    font-weight: bolder;
    background-color: #0104002a;
}

.product-info button{
    background-color: rgba(0, 0, 0, 0.258);
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    font-size: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px #51515195;
    margin-bottom: 10px;
}
